java/accesories/src/accesories/PartsWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://devtest.bmk.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://devtest.bmk.com" xmlns:intf="http://devtest.bmk.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://devtest.bmk.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPartPricing">
    <complexType/>
   </element>
   <element name="getPartPricingResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getPartPricingReturn" type="impl:PartDetail"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="PartDetail">
    <sequence>
     <element name="part_number" nillable="true" type="xsd:string"/>
     <element name="msrp" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPartPricingRequest">

      <wsdl:part element="impl:getPartPricing" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPartPricingResponse">

      <wsdl:part element="impl:getPartPricingResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="PartsWS">

      <wsdl:operation name="getPartPricing">

         <wsdl:input message="impl:getPartPricingRequest" name="getPartPricingRequest"/>

         <wsdl:output message="impl:getPartPricingResponse" name="getPartPricingResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PartsWSSoapBinding" type="impl:PartsWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPartPricing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPartPricingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPartPricingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PartsWSService">

      <wsdl:port binding="impl:PartsWSSoapBinding" name="PartsWS">

         <wsdlsoap:address location="http://preprod.gm-apps.com/devTest/services/PartsWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
